.edit-product-1 {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add-btn-2 {
    background-color: rgb(92, 172, 178);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 160px;
}
.cancel-btn-1 {
    background-color: rgb(255, 17, 0);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100px;
}

.edit-product-1 form {
    gap: 20px;
}


.button-group-1 {
    display: flex;
    gap: 10px
}

.image-preview-1 {
    display: flex;
    flex-direction: column;
}


.image-container {
    position: relative; /* Allows absolute positioning inside */
    display: inline-block; /* Makes sure the container only takes necessary space */
}

.product-image {
    width: 120px; /* Adjust as needed */
    height: 120px; /* Adjust as needed */
    object-fit: cover; /* Ensures the image maintains aspect ratio */
    border-radius: 8px; /* Optional, for rounded corners */
}

.delete-image-btn {
    position: absolute;
    top: 5px;
    right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.2s;
}

.x-button {
    color: #F50808;
}
